body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1920px;
}


header {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    gap: 10px
}

header img {
    width: 75px;
    height: 75px;
}

.nav-bar {
   width: 25.5%;
   margin: 0 auto;
}
.nav-bar ul {
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
 }
 
 
 .nav-bar li a {
   display: flex;
   color: #666;
   text-align: center;
   padding: 14px 16px;
   font-weight: bold;
   text-decoration: none;
 }
 
 .nav-bar li a:hover {
   background-color: #ddd;
 }
 

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.main-footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: content-box;
    margin: 0 auto;
}
.main-footer div {
    max-width: 190px;
    min-width: 190px;
    margin: 10px;

}
.main-footer img {
    width: 100%;
    border: 3px solid;
    border-radius: 120px;
}
 .select img {
    width: 25%;
    min-width: 250px;
    border-radius: 20px;
}

 
 .select img:hover {
    box-shadow: 2px 2px 10px rgb(77, 61, 61), -2px -2px 10px rgb(77, 61, 61);
 }

 .author img {
    width: 20%;
    max-width: 150px;
    min-width: 150px;
    border: 3px solid;
    border-radius: 120px;
 }

 .line-spacer {
   line-height: 10mm;
 }
 .pages {
    text-align: justify;
    line-height: 8mm;

 }

 .pages h1 {
    text-align: center;
    
 }

 .pages-container {
    width: 70%;
 }

 .case-img {
    width: 100%;
    margin: 0 auto;
 }

 .image-limiter {
   width: 40%;
   margin-left: auto;
   margin-right: auto;
 }

 .visuals {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    margin: 0 auto;
    
 }

 .visuals figure {
   margin: 0 auto;
   display: block;
   text-align: center;
 }

 .visuals figcaption {
   margin-top: -10px;
 }

 .visuals img {
    width: 80%;
    border: 1px solid;
    border-radius: 15px;
 }

 .download {
    border: 2px solid;
    text-align: center;
    border-radius: 30px;
    list-style-type: none;
    padding: 4px;
    
 }

 .download a {
    text-decoration: none;
    color:black
 }

 .pages-footer div:hover {
   background-color: rgb(143, 92, 92);
   color: white;
 }

 .pages-footer a:hover {
   color: white;
 }

 .for-bac {
   display: flex;
   text-align: center;
   justify-content: space-around;
 }

 .for-bac div {
   margin: 0 20px;
   padding: 10px;
   border-radius: 15px;
 }

 .for-bac div:hover {
   background-color: rgb(143, 92, 92);
 }

 .for-bac a {
   text-decoration: none;
   color:black;
   font-weight:600;
 }

.for-bac a:hover {
   color: white;
}